/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.btn {
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover {
  color: #000;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.btn:active {
  background-color: var(--border-color);
  transition: none;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 320px) {
  .btn {
    font-size: 0.6875rem;
    width: 8.75rem;
    height: 2rem;
  }

  .btn-clear {
    border: 2px solid var(--cl-darksilver);
    color: var(--cl-darksilver);
  }

  .btn-secondary {
    background-color: var(--secondary-color);
    border: none;
    color: var(--title-color);
  }

  .btn-secondary:hover {
    background-color: var(--secondary-dark);
  }

  .btn-secondary:active {
    background-color: var(--border-color);
  }

  .btn-clear,
  .btn-secondary--responsive {
    width: 7.5rem;
    height: 2rem;
  }

  .btn-secondary--responsive {
    color: var(--cl-darksilver);
    background-color: transparent;
    border: 2px solid var(--cl-darksilver);
  }

  .btn-hidden {
    display: flex;
    width: 16px;
    height: 14px;
    padding: 0;
    border: none;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
  }

  .btn-hidden:hover {
    background: none;
  }

  .btn-dark {
    border-radius: 4px;
    background-color: var(--cl-darksilver) !important;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 576px) {
  .btn {
    font-size: 0.6875rem;
    width: 9.25rem;
    height: 2.5rem;
    text-align: center;
  }

  .btn-clear {
    border: 2px solid var(--cl-darksilver);
    color: var(--cl-darksilver);
    margin: 0;
  }

  .btn-clear,
  .btn-secondary--responsive {
    width: 7.5rem;
    height: 2rem;
  }

  .enabled {
    visibility: hidden;
  }

  .btn-hidden {
    display: none;
  }

  .btn-dark {
    border-radius: 4px;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  .btn-dark {
    border-color: transparent;
    border-radius: 4px;
    padding: 0;
  }

  .btn-dark:hover {
    background-color: var(--border-color);
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .btn {
    font: 1rem / 20px var(--font-primary);
    width: 11.25rem;
    height: 3rem;
  }

  .btn-secondary {
    background-color: var(--secondary-color);
    border: none;
  }

  .btn-hidden {
    display: none;
  }

  .btn-clear {
    color: var(--cl-darksilver);
    border: none;
  }

  .btn-clear:hover {
    border: 2px solid var(--border-color);
  }

  .btn-clear:active {
    background: var(--border-color);
    border: 2px solid var(--title-color);
  }
}
