/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.btn {
    width: 180px;
    height: 48px;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font: var(--font-size-sm)/20px var(--font-primary);
    letter-spacing: 1px;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    background-color: var(--primary-color);
    transition: 0.3s;
}

.btn:active {
    background-color: var(--border-color);
    transition: none;
}

.btn-secondary {
    border-color: transparent;
    background-color: var(--secondary-color);
    color: #000;
}

.btn-secondary:hover {
    background-color: var(--secondary-dark);
}

.btn-secondary:active {
    background-color: var(--border-color);
}

.btn-clear {
    margin-bottom: 36px;
    color: var(--cl-darksilver);
}

.btn-clear:hover {
    background: transparent;
    border: 2px solid var(--border-color);
}

.btn-clear:active {
    background: var(--border-color);
    border: 2px solid var(--title-color);
}

/* .btn-secondary--card {
    margin-bottom: 36px;
} */

.btn-dark {
    background-color: var(--cl-darksilver);
    width: 150px;
    border-color: transparent;
    border-radius: 4px;
}

.btn-dark:hover {
    background-color: var(--border-color);
}

.btn-hidden {
  display: none;

}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 1200px) {
  .btn {
    font-size: var(--font-size-xs);
    width: 148px;
    height: 40px;
  }

  .btn-clear {
    width: 120px;
    height: 32px;
    border: 2px solid var(--cl-darksilver);
    padding: 5px 11px 9px 11px;
    margin: 0;
  }

  .btn-secondary--responsive {
    width: 120px;
    height: 32px;
    background: transparent;
    border: 2px solid var(--cl-darksilver);
    padding: 5px 11px 9px 11px;
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  .btn {
    font-size: var(--font-size-xs);
    width: 130px;
    height: 32px;
  }

  .btn-hidden {
    display: flex;
    width: 16px;
    height: 14px;
    border: none;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
  }

  .btn-hidden:hover {
    background: none;
  }
}
