/*------------------------------------*\
  #Containers
\*------------------------------------*/

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 320px) {
  .container,
  .container--features {
    max-width: 290px;
  }

  .container--features {
    overflow: hidden;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 576px) {
  .container {
    max-width: calc(100vw - 3rem);
  }

  .container--features {
    max-width: 100%;
    padding-left: 1.5rem;
    overflow: hidden;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .container,
  .container--features {
    max-width: 1140px;
  }

  .container--features {
    padding: 0;
    overflow: visible;
  }
}
