/*------------------------------------*\
  #Navigation Bar
\*------------------------------------*/

.navbar {
  width: 100%;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  color: var(--secondary-color);
  font-weight: var(--font-weight-mediumbold);
}

.nav__item {
  color: var(--primary-color);
  font-weight: var(--font-weight-mediumbold);
  text-align: center;
}

.nav__link {
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

.sub-menu {
  width: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 1.25rem 0px 1.25rem 0px;

  opacity: 0;

  text-transform: uppercase;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.enabled {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 320px) {
  .navbar__nav {
    display: none;
  }

  .navbar__logo {
    font-size: 1.45rem;
  }

  .nav__item--dropdown {
    margin: 0;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 576px) {
  .navbar__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__logo {
    font-size: 2.2rem;
  }

  .enabled {
    visibility: hidden;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .navbar__logo {
    font-size: 2.25rem;
  }

}
