.header-details {
    padding-top: 92px;
    text-align: center;
}

.header-details__container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 555px;
    align-items: center;
}

.header-details__text {
    color: var(--primary-color);
    font-weight: var(--font-weight-mediumbold);
    font-size: var(--font-size-xxx-lg);
}

.header-details__desc {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-md);
}