/*------------------------------------*\
  #Header
\*------------------------------------*/

.header {
    padding-top: 54px;
    background: url('../../images/header_bg.png') no-repeat;
    background-size: cover;
    height: 680px;
    display: flex;
    justify-content: center;
}

.header-details {
    padding-top: 92px;
    text-align: center;
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 555px;
    align-items: center;
}

.header-details__text {
    text-transform: capitalize;
    color: var(--primary-color);
    font-weight: var(--font-weight-mediumbold);
    font-size: var(--font-size-xxx-lg);
}

.header-details__desc {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-md);
    color: var(--primary-color);
}