/*------------------------------------*\
  #Navigation Bar
\*------------------------------------*/

.navbar {
    width: calc(100% - 150px);
    display: flex;
    text-transform: uppercase;
}

.navbar__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
}

.logo__text {
    color: var(--secondary-color);
    font-weight: var(--font-weight-mediumbold);
    font-size: var(--font-size-xx-lg);
}

.navbar__nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav__item {
    color: var(--primary-color);
    font-weight: var(--font-weight-mediumbold);
}

.nav__link:hover {
    color: var(--secondary-color);
    transition: 0.3s;
}