/*------------------------------------*\
  #Footer
\*------------------------------------*/

.footer {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: var(--light-color);
}

.footer__main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-line {
  background-color: var(--cl-gray);
  height: 1px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.phone-number {
  color: var(--silver-color);
}

.phone-number:hover {
  color: var(--secondary-dark);
  opacity: 1;
}

.contact__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.contact__item {
  text-transform: uppercase;
  color: var(--silver-color);
  font-weight: var(--font-weight-mediumbold);
}

.contact__item:hover {
  color: var(--secondary-color);
  transition: 0.2s;
}

.social__icon {
  opacity: 0.5;
}

.icon__img {
  width: auto;
  height: 100%;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  display: flex;
  color: var(--silver-color);
  font-family: var(--font-secondary);
  line-height: 1.5rem;
  flex-direction: column;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.contact--subscribe {
  justify-content: space-between;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 320px) {
  .footer {
    padding: 1.75rem 0px 1.75rem 0px;
  }

  .footer__main {
    gap: 1.25rem;
  }

  .contact--subscribe {
    gap: 1rem;
  }

  .contact--desktop {
    display: none;
  }

  .contact--mobile {
    display: flex;
  }

  .contact__list--hidden {
    display: flex;
    row-gap: 1rem;
  }

  .contact__list--visible {
    display: none;
  }

  .footer__nav {
    flex-direction: column;
  }

  .social__icon {
    width: auto;
    height: 1rem;
  }

  .contacts {
    flex-direction: column-reverse;
    gap: 21px;
    align-items: center;
    text-align: center;
  }

  .contact__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 576px) {
  .contact__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1.25rem;
  }

  .contact__list--hidden {
    display: none;
  }

  .footer__nav {
    flex-direction: row;
  }

  .contacts {
    flex-direction: row;
    text-align: left;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  .footer {
    padding: 2.625rem 0px 2.625rem 0px;
  }

  .footer__main {
    gap: 1rem;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .contact__list {
    gap: 2.375rem;
  }

  .footer__main {
    gap: 1.5rem;
  }

  .social__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .contact--mobile {
    display: none;
  }

  .contact--desktop {
    display: flex;
  }
}
