/*------------------------------------*\
  #Footer
\*------------------------------------*/

.footer {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: var(--light-color);
  padding: 42px 0px 42px 0px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.footer-line {
  background-color: var(--cl-gray);
  height: 1px;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phone-number {
  color: var(--silver-color);
}

.phone-number:hover {
  color: var(--secondary-dark);
  opacity: 1;
}

.info__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.info__list--hidden {
  display: none;
}

.info__item {
  text-transform: uppercase;
  color: var(--silver-color);
  font-weight: var(--font-weight-mediumbold);
}

.info__item:hover {
  color: var(--secondary-color);
  transition: 0.2s;
}

.social__icon {
  width: 24px;
  height: 24px;
  opacity: 0.5;
}

.icon__img {
  width: auto;
  height: 100%;
}

.contacts {
  display: flex;
  color: var(--silver-color);
  font: var(--font-size-sm) / var(--font-size-lg) var(--font-secondary);
  flex-direction: column;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.contacts--mobile {
  display: none;
}

.contacts--subscribe {
  max-width: 360px;
  justify-content: space-between;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 1200px) {
  .footer-main {
    gap: 1rem;
  }

  .contacts--desktop {
    display: none;
  }

  .contacts--mobile {
    display: flex;
  }

  .social__icon {
    width: 17px;
    height: 17px;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 576px) {
  .info__list--hidden {
    display: flex;
    row-gap: 1rem;
  }

  .info__list--visible {
    display: none;
  }

  .footer-info {
    flex-direction: column-reverse;
    gap: 21px;
    align-items: center;
    text-align: center;
  }

  .info__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .subscribe__form {
    gap: 8px;
  }

  .contacts {
    line-height: var(--font-size-sm);
  }

  .contacts--subscribe {
    max-width: 220px;
    line-height: var(--font-size-sm);
    gap: 20px;
  }
}
