/*------------------------------------*\
  #Features Section
\*------------------------------------*/

.features {
  padding: 5rem 0px 3.75rem 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.features__body {
  display: flex;
  width: 100%;
  margin-top: 3.125rem;
  align-items: center;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.features__item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.item__desc {
  color: var(--cl-darksilver);
}

.item__title {
  line-height: 30px;
}

.item__text {
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-md);
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 320px) {
  .features__body {
    flex-direction: column;
    gap: 2.25rem;
  }

  .features__img {
    width: 100%;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 576px) {

  .features__body {
    flex-direction: row;
    gap: 0px;
  }

  .features__img {
    width: unset;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .features__body {
    overflow: visible;
  }
}
