/*------------------------------------*\
  #Features Section
\*------------------------------------*/

.features {
    padding: 80px 0px 60px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__details {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    align-items: center;
    gap: 70px;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.features__item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-container {
  width: 100%;
}

.features__img {
  object-fit: cover;
  overflow: hidden;
}

.item__text {
    color: var(--cl-darksilver);
    font-size: var(--font-size-sm);
    max-width: 262px;
}

.item__text--title {
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-mediumbold);
    line-height: 30px;
}

.item__text--details {
    font-weight: 300;
    line-height: var(--line-height-md);
}

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 768px) {

  .item__text {
    font-size: var(--font-size-xs);
  }

  .item__text--title {
    font-size: var(--font-size-xs);
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 576px) {
  .features__details {
    flex-direction: column;
    margin-top: 36px;
  }

  .features__img {
    width: 100%;
    height: auto;
  }
}
