/*------------------------------------*\
  #Features Section
\*------------------------------------*/

.features {
  padding: 80px 0px 60px 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.features__details {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 55px;
  align-items: center;
  gap: 35px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 160px;
}

.features__item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.item__text {
  color: var(--cl-darksilver);
  font-size: var(--font-size-sm);
}

.item__text--title {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-mediumbold);
  line-height: 30px;
}

.item__text--details {
  font-weight: 300;
  line-height: var(--line-height-md);
}

@media only screen and (max-width: 1200px) {
  .features__list {
    margin-left: 60px;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (max-width: 768px) {
  .item__text {
    font-size: var(--font-size-xs);
  }

  .item__text--title {
    font-size: var(--font-size-xs);
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 576px) {
  .features {
    padding: 28px 0px 37px 0px;
  }

  .features__details {
    flex-direction: column;
    margin-top: 36px;
  }

  .features__list {
    width: calc(100% - 32px);
    margin: 0;
  }

  .img-container {
    display: flex;
    justify-content: center;
  }

  .features__img {
    width: calc(100% - 15px);
    height: auto;
  }
}
