/*------------------------------------*\
  #Register Form
\*------------------------------------*/

.register {
  padding: 70px 0px 48px 0px;
  height: auto;
  background-image: url("../../../images/signup_bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.register__form {
  width: auto;
  height: auto;
  padding: 1.5rem 3.25rem 1.5rem 3.25rem;
  background: linear-gradient(var(--cl-darksilver), var(--cl-darksilver)),
    linear-gradient(
      224.09deg,
      rgba(195, 195, 195, 0.5) 5.13%,
      rgba(255, 255, 255, 7e-5) 90.88%
    );
  background-blend-mode: soft-light;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.register__text {
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register__input {
  border-radius: 4px;
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  mix-blend-mode: normal;
  padding: 0.625rem 0px 0.625rem 1rem;
  font-size: 0.875rem;
  width: 100%;
  height: auto;
}

.register__input--subscribe {
  align-self: stretch;
  height: auto;
  background-color: var(--light-color);
}

.register__input::placeholder {
  color: var(--cl-darksilver);
  font-family: var(--font-secondary);
  font-size: 14px;
}

.register__input:hover {
  background-color: var(--primary-color);
}

.register__input:focus {
  background-color: var(--primary-color);
}

.login__link {
  color: var(--secondary-color);
}

.login__link:hover {
  text-decoration: underline;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 320px) {
  .register__input--subscribe {
    padding: 0 0 0 0.625rem;
    margin-right: 0.5rem;
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 576px) {
  .register__input--subscribe {
    padding: 0.3125rem 0.625rem;
    margin: 0;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .register__input--subscribe {
    padding: 1.125rem 0.625rem;
  }
}
