/*------------------------------------*\
  #Register Form
\*------------------------------------*/

.register {
  padding: 70px 0px 48px 0px;
  height: auto;
  background-image: url("../../../images/signup_bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.register__form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(var(--cl-darksilver), var(--cl-darksilver)),
    linear-gradient(
      224.09deg,
      rgba(195, 195, 195, 0.5) 5.13%,
      rgba(255, 255, 255, 7e-5) 90.88%
    );
  background-blend-mode: soft-light;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 8px;

}

.register__text {
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register__input {
  height: auto;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background: var(--input-bg);
  mix-blend-mode: normal;
}

.register__input--subscribe {
  align-self: stretch;
  height: auto;
  background-color: var(--light-color);
}

.register__input::placeholder {
  color: var(--cl-darksilver);
  font-family: var(--font-secondary);
  font-size: 0.875rem;
}

.register__input:hover {
  background-color: var(--primary-color);
}

.register__input:focus {
  background-color: var(--primary-color);
}

.login__link {
  color: var(--secondary-color);
}

.login__link:hover {
  text-decoration: underline;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 320px) {
  .register__form {
    gap: 1rem;
    padding: 2rem 2.7rem;
  }

  .register__input {
    padding: 0.625rem 1rem 0.625rem 1rem;
    font-size: 1.2rem;
  }

  .register__input--subscribe {
    padding: 0 0 0 1.1rem;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 576px) {
  .register__input--subscribe {
    margin-right: 0.8rem;
    padding: 0.5rem 1rem;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .register__input {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  .register__input--subscribe {
    margin-right: 1rem;
  }

  .register__form {
    gap: 1.5rem;
    padding: 1.5rem 3.25rem 1.5rem 3.25rem;
  }
}
