/*------------------------------------*\
  #Statistics Section
\*------------------------------------*/

.statistics {
    padding: 70px 0px 110px 0px;
    height: auto;
    display: flex;
    justify-content: center;
}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 1200px) {

  .statistics {
    padding: 34px 0px 32px 0px;
  }
}
