@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  /* --------------font-------------------- */
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Source Sans Pro', sans-serif;

  /* -------------color-------------------- */
  --primary-color: #FFF;
  --secondary-color: #EBCB80;
  --secondary-dark: #A68F5B;
  --light-color: #F6F6F6;
  --title-color: #102746;
  --silver-color: #4B4B4B;
  --border-color: #7D7D7D;

  /* -------------font-weight-------------- */
  --font-weight-semibold: 500;
  --font-weight-mediumbold: 700;

  /* -------------font-size---------------- */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-x-large: 30px;
  --font-size-xx-large: 36px;
  --font-size-xxx-large: 44px;

  /* -------------line-height-------------- */
  --line-height-small: 19px;
  --line-height-medium: 24px;
  --line-height-large: 29px;
  --line-height-x-large: 40px;
  --line-height-xx-large: 42px;
  --line-height-xxx-large: 60px;
}