/*------------------------------------*\
  #Headings
\*------------------------------------*/

.heading {
    color: var(--cl-darksilver);
    text-transform: capitalize;
    font-weight: var(--font-weight-mediumbold);
    font-size: var(--font-size-xxx-lg);
}

.heading--light {
    padding-bottom: 36px;
    color: var(--primary-color);
    line-height: var(--line-height-xx-lg);
}

.heading--md {
    padding-top: 32px;
    text-transform: uppercase;
    font-size: var(--font-size-md);
    line-height: var(--line-height-lg);
    letter-spacing: 1px;
}

.heading--sm {
    padding-top: 22px;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-mediumlight);
}

/*------------------------------------*\
  #Containers
\*------------------------------------*/

.container {
    --padding-val: 150px;
    display: flex;
    width: calc(100% - var(--padding-val));
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    --padding-val: 24px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    --padding-val: 15px;
  }
}
