/*------------------------------------*\
  #Headings
\*------------------------------------*/

.heading {
  color: var(--cl-darksilver);
  text-transform: capitalize;
  font-weight: var(--font-weight-mediumbold);
  line-height: 1.5rem;
}

/*------------------------------------*\
  #Containers
\*------------------------------------*/

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 320px) {
  .container {
    max-width: 290px;
  }

  .text--sm {
    font-size: 0.6875rem;
    line-height: 1rem;
  }

  .heading--4xl {
    font-size: 2.25rem;
  }

  .heading--md,
  .heading--sm {
    font-size: 0.75rem;
  }

  .heading--light {
    padding-bottom: 36px;
    color: var(--primary-color);
    line-height: var(--line-height-xx-lg);
  }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .heading--2xl {
    font-size: 2rem;
    line-height: 3rem;
  }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .text--sm {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .heading--sm {
    font-size: 1rem;
  }

  .heading--md {
    font-size: 1.125rem;
  }

  .heading--xl {
    font-size: 1.5rem;
  }

  .heading--2xl {
    font-size: 2.75rem;
  }

  .heading--4xl {
    font-size: 4rem;
  }

  .heading--uc {
    text-transform: uppercase;
  }
}
